<footer class="footer">
  <div class="footer-inner">
    <div class="footer-logo">Bonbon Boutique</div>
    <div class="footer-tagline">The Art of Chocolate</div>
    <div class="threeGrid">
      <div class="footer-section">
        <h3>Contact Us</h3>
        <ul>
          <li><strong>Email:</strong> <a href="mailto:jjjj@gmail.com">jjjj@gmail.com</a></li>
          <li><strong>Phone:</strong> <a href="tel:+1234578910">+1234578910</a></li>
          <li><strong>Address:</strong>Chocolate Street</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Follow us</h3>
        <ul class=" flex flex-row ">
          <li><a routerLink="https://www.facebook.com/BonbonBoutique11" target="_blank"><mat-icon>facebook</mat-icon></a></li>
          <li><a routerLink="https://www.instagram.com/bonbonboutique11?fbclid=IwY2xjawR-IfdleHRuA2FlbQIxMABicmlkETFYdGRkWG45RUpHOGlmY1dZc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHp2t9lYjN3L_Xtp_uSPQ-AweWKFLc8R6LNKoWjqqrI1Gyu6LiHMVDYgmHlhT_aem_2lHjer-aloL-0TRNb-azdg" target="_blank"><mat-icon>instagram</mat-icon></a></li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    © 2026 Bonbon Boutique. All rights reserved.
  </div>
</footer>