<div class="cartpage">
  <div class="cartheader">
    <h1 class="carttitle">{{ 'cart' | translate }}</h1>
    <p class="cartsubtitle">{{ cartService.cartCount() }} {{ 'productsCount' | translate }}</p>
  </div>

  @if (cartService.cartItems().length === 0) {
    <div class="emptycart">
      <mat-icon>shopping_cart</mat-icon>
      <p>{{ 'emptyCart' | translate }}</p>
      <a routerLink="/shop" class="continuebtn">{{ 'startShopping' | translate }}</a>
    </div>
  } @else {
    <div class="cartlayout">
      <div class="cartitems">
        @for (item of cartService.cartItems(); track item.cartItemId) {
          <div class="cartitem">
            <img [src]="item.product.image" [alt]="item.product.name" class="itemimage">
            <div class="itemdetails">
             <h3 class="itemname">{{ displayName(item.product) }}</h3>
              <p class="itemcategory">{{ displayCategory(item.product) }}</p>
              <p class="itemprice">{{ item.product.price | currency }}</p>
            </div>
<div class="itemcontrols">
  <button class="qtybtn" (click)="decrement(item.cartItemId, item.quantity)">
    <mat-icon>remove</mat-icon>
  </button>
  <span class="qty">{{ item.quantity }}</span>
  <button class="qtybtn" (click)="increment(item)">
    <mat-icon>add</mat-icon>
  </button>
</div>
            <p class="itemtotal">{{ item.product.price * item.quantity | currency }}</p>
            <button class="removebtn" (click)="cartService.removeFromCart(item.cartItemId)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        }
        <button class="clearbtn" (click)="cartService.clearCart()">{{ 'clearCart' | translate }}</button>
      </div>

      <div class="cartsummary">
        <h2 class="summarytitle">{{ 'orderSummary' | translate }}</h2>
        <div class="summaryrow">
          <span>{{ 'subtotal' | translate }}</span>
          <span>{{ cartService.cartTotal() | currency }}</span>
        </div>
        <p class="deliverynote">{{ 'deliveryCalculatedAtCheckout' | translate }}</p>
        <button class="checkoutbtn" routerLink="/checkout">{{ 'checkout' | translate }}</button>
        <a routerLink="/shop" class="continuelink">{{ 'startShopping' | translate }}</a>
      </div>
    </div>
  }

  @if (activeProductForModal) {
    <app-variant-picker [product]="activeProductForModal" (close)="closeModal()"></app-variant-picker>
  }
</div>